#autographArea {
	text-align: center;
	padding: 0 2em;
}
.autograph-guest-wrapper {
	display:flex; align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 550px; height: 550px;
}
.autograph-guest::before {
	content: "";
	display: block;
	padding-top: 100%;
	float: left;
}
.autograph-guest {
	width: 550px;
	height: 550px;
	display: inline-block;
	margin: 20px;
	cursor: pointer;
	text-align: center;
	position: relative;
}
.autograph-guest-img > img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 7px;
	user-select: none;
}
.autograph-guest-name {
	font-size: 1.5em;
	font-weight: bold;
}
.autograph-cover,.autograph-schedule {
	opacity: 0;
	z-index: -5;
	transition: opacity 1s;
	height: 0;
	align-self: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	overflow: visible;
	text-align: center;
	width: 100%;
}
.autograph-visible {
	z-index: 5 !important;
	opacity: 1;
}

@media only screen and (max-width: 767px) {
	.autograph-guest,.autograph-guest-wrapper {
		width: 250px;
		height: 250px;
	}
}
