#autographArea {
	text-align: center;
	padding: 0 2em;
}
.autograph-guest-wrapper {
	display:table-cell;vertical-align:middle;
	min-width:250px;min-height:250px;
	max-width: 550px; max-height: 550px;
	width: 40%;
	height: 40%;
}
.autograph-guest {
	min-width:250px;min-height:250px;
	max-width: 550px; max-height: 550px;
	width: 40%;
	height: 40%;
	display: inline-block;
	margin: 20px;
	cursor: pointer;
	text-align: center;
	position: relative;
}
.autograph-guest-img > img {
	width: 100%;
	border-radius: 7px;
}
.autograph-guest-name {
	font-size: 1.5em;
	font-weight: bold;
}
.autograph-cover,.autograph-schedule {
	opacity: 0;
	z-index: -5;
	transition: opacity 1s;
	position: absolute;
	text-align: center;
	width: 100%;
}
.autograph-schedule {
	position: absolute;
}
.autograph-visible {
	z-index: 5 !important;
	opacity: 1;
}
